@font-face {
    font-family: 'worksansblack';
    src: url('../assets/fonts/worksans/woff2/WorkSans-Black.woff2') format('woff2'),
      url('../assets/fonts/worksans/woff/WorkSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'worksansextrabold';
    src: url('../assets/fonts/worksans/woff2/WorkSans-ExtraBold.woff2') format('woff2'),
      url('../assets/fonts/worksans/woff/WorkSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'worksansbold';
    src: url('../assets/fonts/worksans/woff2/WorkSans-Bold.woff2') format('woff2'),
      url('../assets/fonts/worksans/woff/WorkSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'worksanssemibold';
    src: url('../assets/fonts/worksans/woff2/WorkSans-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/worksans/woff/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'worksansmedium';
    src: url('../assets/fonts/worksans/woff2/WorkSans-Medium.woff2') format('woff2'),
      url('../assets/fonts/worksans/woff/WorkSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'worksansregular';
    src: url('../assets/fonts/worksans/woff2/WorkSans-Regular.woff2') format('woff2'),
      url('../assets/fonts/worksans/woff/WorkSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'worksanslight';
    src: url('../assets/fonts/worksans/woff2/WorkSans-Light.woff2') format('woff2'),
      url('../assets/fonts/worksans/woff/WorkSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'worksansextralight';
    src: url('../assets/fonts/worksans/woff2/WorkSans-ExtraLight.woff2') format('woff2'),
      url('../assets/fonts/worksans/woff/WorkSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'worksansthin';
    src: url('../assets/fonts/worksans/woff2/WorkSans-Thin.woff2') format('woff2'),
      url('../assets/fonts/worksans/woff/WorkSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'worksanshairline';
    src: url('../assets/fonts/worksans/woff2/WorkSansHairline-Regular.woff2') format('woff2'),
    url('../assets/fonts/worksans/woff/WorkSansHairline-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
