@charset "utf-8";

/*-------------------------------------------------------------------
BASSCSS
http://www.basscss.com/docs/
-------------------------------------------------------------------*/

$breakpoint-xlg: '(min-width: 94em)' !default;
$breakpoint-xxlg: '(min-width: 104em)' !default;
$breakpoint-xxxlg: '(min-width: 114em)' !default;


@import "bower_components/basscss-sass/defaults";
@import "bower_components/basscss-sass/base-reset";
@import "bower_components/basscss-sass/white-space";

/*-------------------------------------------------------------------
Flexboxgrid
-------------------------------------------------------------------*/

@import "bower_components/flexboxgrid/dist/flexboxgrid";

/*-------------------------------------------------------------------
Base
-------------------------------------------------------------------*/
@import "base/variables";
@import "base/colors";
@import "base/type";
@import "base/fonts";
@import "base/links";
@import "base/forms";
@import "base/tables";
@import "base/buttons";
@import "base/base";
@import "base/utility";
@import "base/mixins";

/*-------------------------------------------------------------------
Common
-------------------------------------------------------------------*/
@import "common/type";

/*-------------------------------------------------------------------
Modules
-------------------------------------------------------------------*/
@import "modules/header";
@import "modules/footer";
@import "modules/grid";

/*-------------------------------------------------------------------
Greys
-------------------------------------------------------------------*/
@import "modules/greys";