
[class*='col-'],
[class^='col-'] {
   img {
      max-width: 100%;
      height: auto;
   }
}

.row--no-gutter {
   margin-left: 0;
   margin-right: 0;
}

.col--no-gutter {
   padding-left: 0;
   padding-right: 0;
}